* {
    font-size: 20px;
}

.hidden {
    display: none;
}

.fa-check {
    color: green;
}

div .active {
    border-color: red;
    border-style: solid;
}

.cb-element {
    padding-top: 5px;
    padding-bottom: 5px;
}

.cb-element button {
    width: 100%;
    height: 100%;
}

.lang-choose {
    padding-top: 0.5em;
}

.vcenter {
    float: left;
    vertical-align: middle;
    padding-right: 0.5em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.text-center {
    text-align: center;
}

/* boxes */
.info, .success, .warning, .error, .validation {
    float: left;
    border: 1px solid;
    margin: 10px 50px 10px 15px;
    padding: 15px 10px 15px 20px;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}