[Desktop Entry]
Name=asterics-ergo
Comment=Assistive Technology Application
Exec=/opt/asterics-ergo/app/start.sh
Icon=/opt/asterics-ergo/asterics-ergo.png
Terminal=true
Type=Application
Categories=Assistive Technology
